{% load static %}  <!-- Load files out of the static folder -->


<!DOCTYPE html>
<html>
    <head>

        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" type="text/css" href="{% static 'gfolio_app/main.css' %}">  <!--- Generate an absolute URL to the static folder and pulls in the stylesheet -->

    </head>

    <body>
        <div class="flex-container">
            <!-- Decorate the menu with the word "Portfolio"-->
            <div class="site-title-container">
                <p class="site-title">Portfolio</p>
            </div>
            <!-- Side Menu -->
            <div class="side-menu">
                <div class="menu-title">Greg Ruiz</div><hr>
                <div class="menu-item" ><a href="{% url 'gfolio-home' %}">Intro</a></div>
                <div class="menu-item" ><a href="{% url 'whyGreg' %}">Why Me?</a></div>
                <div class="menu-item" ><a href="{% url 'bio' %}">Bio</a></div>
                <div class="menu-title">Sample Projects</div><hr>
                <div class="menu-item" ><a href="{% url 'project' 'GMart' %}">GMart</a></div>
                <div class="menu-item" ><a href="{% url 'project' 'GTalk' %}">GTalk</a></div>
                <div class="menu-item" ><a href="{% url 'project' 'ViviX' %}">ViviX</a></div>
                <div class="menu-item" ><a href="{% url 'project' 'WeboMatic' %}">WeboMatic</a></div>
                <div class="menu-item" ><a href="{% url 'project' 'Buzz Report' %}">Buzz Report</a></div>
                <div class="menu-item" ><a href="{% url 'portfolio' %}">This Portfolio</a></div>
            </div>
            <div class="main-content">
            <!-- Body Content -->
            {% block content %}{% endblock %}
            </div>
        </div>
    </body>
</html>

<script>

    let hoverFlip = document.getElementById("BTSButton");
    if (hoverFlip) {
        hoverFlip.addEventListener("mouseenter", function( event ) {
            document.getElementById('proj-img').classList.add('flip-element');
        });
        hoverFlip.addEventListener("mouseleave", function( event ) {
            document.getElementById('proj-img').classList.remove('flip-element');
        });
    };

    let hoverZoom = document.getElementById("TDButton");
    if (hoverZoom) {
        hoverZoom.addEventListener("mouseenter", function( event ) {
            document.getElementById('proj-img').classList.add('zoom-element');
        });
        hoverZoom.addEventListener("mouseleave", function( event ) {
            document.getElementById('proj-img').classList.remove('zoom-element');
        });
    };

    let folioAction = document.getElementById("folioButton");
    if (folioAction) {
        folioAction.addEventListener("mouseenter", function( event ) {
            document.getElementById('proj-img').classList.add('flip-element');
        });
        folioAction.addEventListener("mouseleave", function( event ) {
            document.getElementById('proj-img').classList.remove('flip-element');
        });
        folioAction.addEventListener("click", function( event ) {
            console.log("clicked it");
            document.getElementById('portfolioBTS').classList.add('fade-in-element');
        });
    };

</script>