
<!-- This webpage contains content to be inserted into the Base Template -->

{% extends "gfolio_app/base.html" %}
{% block content %}

<!-- The content below includes a profile pic and some text, wrapped in a CSS flexbox for alignment purposes. -->
<div class="image-box">
    <div>
        <div class="profile-img">
            <img src="../media/content_images/profilephoto.png">
        </div>
    </div>
    <div>
        <p class="image-title">Greg Ruiz</p>
        <p>
            I grew up in New Orleans, with a love for its great music and food. 
            While in New Orleans, I developed career strengths in business and technology
            through my education and work experience. 
            The beautiful and historic St. Charles Avenue is where I obtained
            a BS in Computer Information Systems and an MBA from Tulane University.
        </p>
    </div>
</div>
<div>
    <p>
        In 2006, a year after Hurrican Katrina swamped the Crescent City, I relocated to Orlando
        with my wife and 3 children.
    </p>
    <p>
        Today, I describe myself as a <em>corporate-entrepreneur</em>, reflecting my
        professional corporate experience and my thrive for tackling tough technology startups.
        I have 8 years of web development experience, as well as an extensive project management background
        for both software and business projects.
    </p>
    <p>
        During my free time, I enjoy reconnecting with the blues of New Orleans through occasional 
        jam sessions on my guitar and drums.  Like software, music gives me a sense of <em>"creativity"</em>.
    </p>
</div>


{% endblock content %}