{% extends "gfolio_app/base.html" %}
{% block content %}


<div class="image-box">
    <div>
        <div class="profile-img">
            <img src="../media/content_images/profilephoto.png">
        </div>
    </div>
    <div>
        <p class="image-title">Greg Ruiz</p>
        <p>
            I grew up in New Orleans, with a love for its great music and food. 
            While in New Orleans, I developed career strengths in business and technology
            through my education and experience. 
            The beautiful and historic St. Charles Avenue is where I obtained both
            my MBA and Bachelor's in Computer Information Systems from Tulane University.
        </p>
    </div>
</div>
<div>
    <p>
        In 2006, a year after Hurrican Katrina swamped the Crescent City, I relocated to Orlando
        with my wife and 3 children.
    </p>
    <p>
        Today, I describe myself as a corporate-entrepreneur, reflecting 20 years of 
        professional corporate experience and 10 years of tackling tough technology startups.
        I have 8 years of web development experience, as well as extensive project management experience
        for both software and business projects.
    </p>
    <p>
        During my free time, I enjoy reconnecting with the blues of New Orleans through occasional 
        jam sessions on my guitar and drums.  Like software, music gives me a sense of <em>"creation"</em>.
    </p>
</div>


{% endblock content %}