{% extends "gfolio_app/base.html" %}
{% block content %}


<div class="image-box">
    <div>
        <div class="profile-img">
            <img src="media/content_images/profilephoto.png">
        </div>
    </div>
    <div>
        <p class="image-title">Greg Ruiz</p>
        <div class="special-text">
            <p>"I find web development to be </p>
            <p>the most gratifying work</p>
            <p>outside of charity."</p>
        </div>
    </div>
</div>

<div>
    <h3>The Web App</h3>
    <p>
        It has the power to reach anyone, anywhere around the world.
        <br>
        It changes the way we work, and how we collaborate.
        <br>
        It empowers those who use it, and unites those who embrace it.
        <br>
        The web app shapes our society in ways we’ve never envisioned.
    </p>
</div>


{% endblock content %}