
<!-- This webpage contains content to be inserted into the Base Template -->

{% extends "gfolio_app/base.html" %}
{% block content %}

<!-- The content below includes a profile pic and some text, wrapped in a CSS flexbox for alignment purposes. -->
<div class="image-box">
    <div>
        <div class="profile-img">
            <img src="../media/content_images/profilephoto.png">
        </div>
    </div>
    <div>
        <p class="image-title">Greg Ruiz</p>
        <p class="special-text">
            From web development to high-level corporate leadership roles, here's a sample of the reputation I've built and continue to uphold with every client.
        </p>
    </div>
</div>
<div>


    <p class="quoted-text">
        <span class="big-cap">W</span>e worked closely with Greg on our project and we are extremely pleased with his knowledge and expertise. 
        Most importantly, Greg listened intently to our project goals and made recommendations on how to accomplish them.
        He is a true professional and has become an intricate part of our team.
    </p>
    <p class="signature-text">
        Richard Molaison Jr<br>
        CEO, Factsearch LLC <br>
        www.nonomedia.net
    </p>


    <p class="quoted-text">
        <span class="big-cap">G</span>reg is very thorough, and ensures the project is done right. 
        His communication skills, genuine demeanor and business acumen make him quite easy to work with. 
        Very happy with the web application that he has created, and I cannot thank him enough for all that he has done for me thus far. 
        Looking forward to working with you on my next phase. Thanks Greg!
    </p>
    <p class="signature-text">
        Andy Lee<br>
        Business Owner<br>
        www.DoneEZ.com
    </p>


    <p class="quoted-text">
        <span class="big-cap">W</span>hat I loved about working alongside Greg was his high level of enthusiasm, energy, and positivity that was always on display.
        No matter the situation, he had an unbeatable can-do spirit.
        With his influential leadership and insight, Greg helped to drive our operations to new levels of success.
    </p>

    <p class="signature-text">
        Michael Day<br>
        VP Operations<br>
        Wyndham Vacation Ownership
    </p>


    <p class="quoted-text">
        <span class="big-cap">G</span>reg is very driven and results oriented. 
        He focuses on what is important and is a strategic thinker who can put a plan together to achieve the desired goals.
    </p>
    <p class="signature-text">
        James Duncan<br>
        VP Operations<br>
        Fidelity Real Estate<br>
    </p>


</div>


{% endblock content %}