
<!-- This webpage contains content to be inserted into the Base Template -->

{% extends "gfolio_app/base.html" %}
{% block content %}

<!-- The content below includes a profile pic and some text, wrapped in a CSS flexbox for alignment purposes. -->
<div class="image-box">
    <div>
        <div class="profile-img">
            <img src="../media/content_images/profilephoto.png">
        </div>
    </div>
    <div>
        <p class="image-title">Greg Ruiz</p>
        <p>
            504-481-7755<br>
            gregruiz@me.com
        </p>
        <p class="link-list"><a class="link-item" href="https://www.linkedin.com/in/gregruiz/" target=" ">LinkedIn Profile</a></p>
    </div>
</div>
<div>
    <h3>Qualification Highlights</h3>
    <ul>
        <li>5+ Years of full-stack web development experience</li>
        <li>9+ Years of total software development experience</li>
        <li>BS in Computer Information Systems</li>
        <li>MBA in Corporate Finance</li>
    </ul>
    <h3>Full-Stack Developer</h3>
    <div class="flex-container">
        <div>
            <ul>
                <li>HTML</li>
                <li>CSS</li>
                <li>JavaScript</li>
                <li>React</li>
                <li>Python</li>
                <li>Django</li>
            </ul>
        </div>
        <div>
            <ul>
                <li>GIT</li>
                <li>GitHub</li>
                <li>AWS</li>
                <li>Heroku</li>
            </ul>
        </div>
    </div>
</div>


{% endblock content %}