<p>
    Although this site is rather simple, it does leverage the Django framework to reduce code redundancy.  
    Each “project” page is generated dynamically by passing-in the Project Name, and loading a corresponding image and html file of the same name.
</p>
<p>
    Some nifty CSS work is also demonstrated, ranging from basic hover effects in the menu, 
    to writing “Portfolio” on its side, to flipping images upon hover events.
    Very little JavaScript was used to trigger events and assign css automation classes to elements.
</p>
<p>
    This site has been deployed to a cloud environment, on the AWS platform.
    The project is maintained with version control, using GIT, and pushed to a Github repository.
    AWS deployment is configured with a CodePipeline to automatically recognize and deploy changes from the Github repository.
</p>
<p>
    And finally, the site has a simple, clean design, with a masculine color scheme for a bold presence.  
</p>
