
<!-- This page contains content to be inserted into the Base Template.
     It also uses the "include" tag to pull-in content about the project,
     which is then animated with CSS animation techniques.
-->

{% extends "gfolio_app/base.html" %}
{% block content %}



<div class="image-box">
    <div>
        <div class="proj-img">
            <div id="proj-img" class="proj-img-inner">
                <div class="proj-img-front">
                    <img src="../media/content_images/project-this portfolio.png">
                </div>
                <div class="proj-img-back">
                    <img src="../media/content_images/ImgGear.png">
                </div>
            </div>
        </div>
    </div>
    <div>
        <p class="image-title">My Portfolio</p>
        <p>
            GregRuiz.com provides an overview of recent sample projects, while also serving as a design and development example itself.
        </p>
        <p class="link-list"><a class="menu-item" href="#" id="folioButton">Behind The Scenes</a></p>
    </div>
</div>

<!-- Pull-in project details -->
<div id="portfolioBTS" class="element-to-fade BTSdiv">
    {% include "gfolio_app/portfolioBTS.html" %}
</div>

{% endblock content %}



