

<!-- This webpage contains content to be inserted into the Base Template -->

{% extends "gfolio_app/base.html" %}
{% block content %}


<div>
    <h2>Past Projects</h2>
    <p>
        Below is a list of my earlier work, organized by company.
    </p>
    <hr>
    <p>BriteBIT Technologies – An innovative web-based applications and technologies firm</p>
    <ul>
        <li>Developed a web-based product to automatically build optimized employee schedules for large,
            hourly-based labor forces.
        </li>
        <li>Developed a web-based tool used to construct school and university websites.
        </li>
        <li>Developed dozens of client websites and web apps over a 4.5 year period.
        </li>
    </ul>
    <hr>
    <p>Bailey Link Corp – An Internet firm, specializing in web-based products and services</p>
    <ul>
        <li>Led the development of web-based "Business Sales & Use Tax" product with back-end interfaces
            to legacy government mainframe systems.
        </li>
        <li>Led the development of a web-based HR Benefits system for government employees.
        </li>
        <li>Led development efforts for dozens of client web apps over a 2.5 year period.
        </li>
    </ul>
    <hr>
    <p>Wyndham – A Fortune 500 leader in the hotel and hospitality industry</p>
    <ul>
        <li>Led a team of Developers and Analysts to build-out organizational KPIs, reports and dashboards
            for driving business performance.
        </li>
        <li>Led a team of SMEs and technical resources to develop a telephony-based, time and attendance
            tracking system for call center operations and payroll processing.
        </li>
        <li>Led automation and process-improvement efforts for a back-office processing department with
            over 25 separate processes: revamped database apps, implemented new apps, and integrated
            systems for automation efficiencies. Resulted in performance increases and a 65% reduction in
            operating expense.
        </li>
        <li>Led a variety of business and technical resources to implement a new timeshare product across
            multiple systems and processes throughout the business. 
        </li>
        <li>Led multiple integrated platforms and solutions for measuring and managing operational
            performance including: a customer-satisfaction survey system, an employee scorecard system,
            performance-based employee incentive plans, operational and financial performance reports,
            etc. 
        </li>
        <li>Managed a mix of technical and administrative solutions for enterprise-wide processes, 
            overlycomplex customer transactions, and corresponding reporting needs. 
        </li>
    </ul>
    <hr>
    <p>Synon, Inc – A leading consulting firm for client-server software</p>
    <ul>
        <li>Led a team of software developers, report developers and business SMEs to deliver a custombuilt inventory tracking system 
            for the largest automated coffee-processing plant in the world.
            Also performed some programming, integration and quality testing.
        </li>
    </ul>
    <hr>
    <p>Stewart Enterprises, Inc – The 2nd largest death care provider in the world (505 locations)
    </p>
    <ul>
        <li>Led a team of programmers to develop a nation-wide application for running 200+ funeral home
            locations and to consolidate their financial data back to the corporate legacy system.
        </li>
        <li>Developer on a team of a large, enterprise Accounts Receivables and Revenue Trust system.
        </li>
        <li>Developed over a dozen database applications to improve operational efficiencies throughout
            the organization.
        </li>
    </ul>
    <hr>
    <p>ViviX Hospitality – A commercial-grade hotel TV manufacturer</p>
    <ul>
        <li>Developed a custom Visual Basic CRM system for tracking client interactions.
        </li>
    </ul>

</div>

{% endblock content %}

