<p>
    This portfolio site provides an overview of my sample projects.  Also, it is itself a demonstration of my design and technical work.
</p>
<p>
    Although it is a rather simple website, it does leverage the Django framework to reduce code redundancy.  
    Each “project” page is generated dynamically by passing in the Project Name, and loading a corresponding image and html file of the same name.
</p>
<p>
    Some nifty CSS work is also demonstrated, ranging from hover effects in the menu, 
    to turning the word “Portfolio” on its side, to flipping images when hovering over buttons. 
</p>
<p>
    Some nifty CSS work is also demonstrated, ranging from hover effects in the menu, 
    to turning the word “Portfolio” on its side, to flipping images when hovering over buttons. 
</p>
<p>
    And finally, the site has a simple, clean design, with a masculine color scheme for a bold presence.  
</p>
<p class="link-list"><a class="menu-item" href="#" target=" " id="BTSButton">Behind The Scenes</a></p>
