
<!-- The following content will be inserted into the "project.html" template -->

<p>
    GMart is a storefront application, developed from scratch, using Python and the Django framework.
    The project includes an admin backend for user and product maintenance, which was used to create
    the site's hillarious product descriptions.
</p>
<p class="link-list"><a class="menu-item" href="http://gmart.us-west-2.elasticbeanstalk.com/about/" target=" " id="BTSButton">Behind The Scenes</a></p>
<p class="link-list"><a class="menu-item" href="http://gmart.us-west-2.elasticbeanstalk.com" target=" " id="TDButton">Test Drive {{ projectName }}</a></p>
