
<!-- The following content will be inserted into the "project.html" template -->

<p>
    ViviXTV.com is a website for a company I was launching before Covid drastically impacted 
    the hospitality industry and our international supply chain.  
    Although I have decided to not pursue the business, the website still serves as a 
    good example of basic website design for small businesses.  
</p>
<p>
    The site needed to be a basic-brochure style site with no programmable functionality;
    therefore, it was built on the Weebly platform, using a template that I customized for our needs.
    The site incorporates our logo design, market messaging, downloadable product specs, 
    and actual photos of our products and manufacturing facilities.
</p>
<p>
    This site is a good example of my design work, if you are looking for a simple brochure-style website, 
    tailored around your products, services, and marketing needs.
</p>

<p class="link-list"><a class="menu-item" href="https://www.vivixtv.com" target=" " id="TDButton">Test Drive {{ projectName }}</a></p>
