
<!-- This webpage contains content to be inserted into the Base Template -->

{% extends "gfolio_app/base.html" %}
{% block content %}

<!-- The content below includes a profile pic and some text, wrapped in a CSS flexbox for alignment purposes. -->
<div class="image-box">
    <div>
        <div class="profile-img">
            <img src="../media/content_images/profilephoto.png">
        </div>
    </div>
    <div>
        <p class="image-title">Greg Ruiz</p>

        <p>
            <span>Hi.  My name is Greg.  </span>As you can tell, I have a passion for writing great software.
            I work with clients who require experience, maturity, quality and attention to detail.
            These are qualities I’ve valued my entire life, leading me from web development,
            to project management, and even into higher-level roles within multiple businesses and corporations.
        </p>
    </div>
</div>
<div>
    <p>
        My experience stretches far and wide.  
        I've worked in all areas of business and technology,
        including 8 years of web development. 
        Today, I enjoy the simplicity and beauty of programming, 
        combined with the convenience of working from home.
    </p>
    <p>
        My current expertise includes:<br>
        HTML, CSS, Python, Django, JavaScript, Node.JS, GIT, GitHub, AWS and Heroku.
    </p>
    <p>
        Whether you’re looking for someone to take on your next web development project 
        or you’re seeking proven work ethic for something larger, 
        let's connect to determine whether my services are a good fit for your next project.
    </p>
    <p>
        Best Regards,
    </p>
    <p>
        Greg<br>
        504-481-7755<br>
        gregruiz@me.com
    </p>
</div>


{% endblock content %}